:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d4d4b;
  --font-primary: "Numito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  font-size: 1.6rem;
}

.sidebar {
  background-color: var(--color-primary);
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.header {
  background-color: var(--color-primary-dark);
  grid-column: full-start/col-end 6;
}

.realtors {
  background-color: var(--color-secondary);
  grid-column: col-start 7/full-end;
}

.features {
  background-color: var(--color-grey-light-2);
  grid-column: center-start/center-end;
}

.story-pictures {
  background-color: var(--color-primary);
  grid-column: full-start/col-end 4;
}
.story-content {
  background-color: var(--color-grey-light-1);
  grid-column: col-start 5/full-end;
}

.homes {
  background-color: var(--color-secondary);
  grid-column: center-start/center-end;
}

.gallery {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start/full-end;
}

.footer {
  background-color: var(--color-secondary);
  grid-column: full-start/full-end;
}
